
* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Merriweather Sans', sans-serif;
}

/*---------------------- inicio ------------------------*/
.search {
	margin-right: 0;
	margin-left: auto;
}

.collapse.navbar-collapse {
	background: white;
	border: none;
}







/*mapa*/
#myMap{
	width: 100%;
	height: 60vh;
	border: 2px solid black;
}



