
* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Merriweather Sans', sans-serif;
}

/*---------------------- inicio ------------------------*/
.search {
	margin-right: 0;
	margin-left: auto;
}

.collapse.navbar-collapse {
	background: white;
	border: none;
}



